body{
    background: rgb(0,70,142);
    background: radial-gradient(circle, rgba(0,70,142,1) 0%, rgba(0,113,129,1) 83%);
}
#click{
    margin-left: 30px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.txt{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    
}
h1{

    color: white;
    margin-left: 30px;

}

#fname{
    height: 40px;
    width: 400px;
    border-radius: 20px;
    transition-duration: 0.4s;

}
#labletxt{
    font-size: 30px;
}
#click{
    height: 60px;
    width: 90px;
    background-color: rgb(4, 134, 194);
    font-size: 20px;
    border-radius: 20px;
    transition-duration: 0.2s;

}
#robot{
    width: 400px;
    height: 500px;
}
#click:hover{

    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 20px;
    color: rgb(4, 134, 194);
    border: 2px solid rgb(4, 134, 194);

}

#fname:hover{

    border: 4px solid rgb(0, 147, 197);    

}